# Exclude folders to prevent all images from being uploaded
lfw/
dogImages/

# Exclude Jupyter checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Exclude model weights
model_scratch.pt
model_transfer.pt