# Exclude folders to prevent all images from being uploaded
lfw/
dogImages/

# Exclude Jupyter checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Exclude model weights and entire model savings
model_scratch.pt
model_transfer.pt
model_transfer_resnext50.pt
complete_model_transfer_resnext101_new_act_acc82.pth
model_transfer_resnext101_new_act.pt
complete_model_transfer_resnext101.pth
model_transfer_resnext101.pt

# Exclude unnecessary webapp files
webapp/.vscode
webapp/__pycache__
