{% extends 'main_layout.html' %}

{% block content %}
    <section class="jumbotron text-center bg-white">
        <div class="container-fluid">
            <div class="container">
                <div class="alert alert-danger" role="alert">
                    I'm so sorry. An error has occurred. Please try again.
                </div>
                <div class="container">
                    <p>{{ etext }}</p>
                </div>
            </div>
        </div>
        <div class="container pt-5">
            <a href="{{ url_for('index') }}" class="btn btn-outline-secondary btn-lg btn-block" role="button" aria-pressed="true">Back to Home</a>
        </div>
    </section>
{% endblock%}