{% extends 'main_layout.html' %}

{% block content %}
    <section class="jumbotron text-center bg-white">
        <div class="container">
            <h1>Predicting Breeds with Machine Learning</h1>
            <p class="lead text-muted">If you have doubts about the breed of your dog this WebApp can helped you out.</p>
            <p class="lead text-muted">All you have to do is upload a picture of your dog, then the 3 most likely dog ​​breeds will be displayed.</p>
            <form method ='post' enctype=multipart/form-data>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Choose file</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="FormControlSelectFile" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="FormControlSelectFile">Choose image of your dog</label>
                    </div>
                </div>
                <div class="input-group">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="upload" id="FormControlUploadImage">
                </div>
            </form>
        </div>
    </section>
{% endblock%}