{% extends 'main_layout.html' %}

{% block content %}
    <section class="jumbotron text-center bg-white">
        <div class="container-fluid">
            <div class="container">
                <div class="alert alert-warning" role="alert">
                    I'm so sorry. No dog and no human was recognized.
                </div>
                <p class="lead"><a href="{{ url_for('index') }}">Please try again</a></p>
            </div>
        </div>
        <div class="container pt-5">
            <a href="{{ url_for('index') }}" class="btn btn-outline-secondary btn-lg btn-block" role="button" aria-pressed="true">Back to Home</a>
        </div>
    </section>
{% endblock%}